env/
__pycache__
*.pyc
.envrc
*.egg-info
.idea/
.pytest_cache/
client_secret.json
node_modules/

*.rdb

# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
*.DS_Store
.env
npm-debug.log
